@{
    Layout = " ~/Areas/Admin/Views/Shared/_AdLayout.cshtml " ;
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdIndex</title>
</head>
<body>
    <div>
        day la home admin
    </div>
    @Html.ActionLink("Trang chu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Admin", "AdIndex", "AdHome", new { area = "Admin" }, new { @class = "navbar-brand" })
</body>
</html>*@
